/* Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* Colors */
/* Tailwind grays because I love them */
/* Extracted from: https://gist.github.com/minutiae/3983bb128ad1756ae67ca1bccc184d4c?permalink_comment_id=4417702#gistcomment-4417702 */
@keyframes rotate-blob {
  0% {
    transform-origin: center;
    rotate: 0deg;
  }
  50% {
    transform: scale(1, 1.5);
  }
  100% {
    transform-origin: center;
    rotate: 360deg;
  }
}
.app {
  min-height: 100vh;
}
.app__header {
  position: relative;
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app__header__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  gap: 1rem;
  width: 64rem;
}
.app__header__intro h1 {
  font-size: xxx-large;
}
.app__header__intro p {
  color: #d4d4d4;
  font-size: larger;
  line-height: 1.6;
  letter-spacing: 0.1em;
}
.app__header__intro p a {
  color: #6add2c;
}
.app__header__intro p a::selection {
  color: #fdf9ff;
}
.app__header__intro p span {
  font-weight: bold;
  background: linear-gradient(120deg, #6add2c, #d958da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app__header__intro p span::selection {
  color: #fdf9ff;
  -webkit-text-fill-color: #fdf9ff;
}
.app__background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-x: clip;
}
.app__background__blob {
  position: absolute;
  aspect-ratio: 1;
  height: 30rem;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #6add2c 0%, #d958da 100%);
  animation: rotate-blob linear 20s infinite;
}
.app__background__blur-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  pointer-events: none;
  backdrop-filter: blur(200px);
}
.app__background__dashed-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  opacity: 0.02;
  background-size: 50px 50px;
  background-image: linear-gradient(to right, #eee7ee 1px, transparent 1px), linear-gradient(to bottom, #eee7ee 1px, transparent 1px);
}
.app__background__overlay {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(11, 1, 14, 0.1));
}
.app__content {
  position: relative;
  width: 100%;
  min-height: 62rem;
  background-color: rgba(11, 1, 14, 0.9);
  backdrop-filter: blur(200px);
}

html {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

html, body, main {
  font-family: "Inter", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

main, body {
  background-color: #0b010e;
}

main *::selection {
  background-color: #6add2c;
  color: #0b010e;
}

main * p, main * h1, main * h2, main * h3, main * h4, main * h5, main * h6 {
  color: #fdf9ff;
}

/*# sourceMappingURL=index.css.map */
