@use "./scss/reset" as r;
@use "./scss/app" as a;
@use "./scss/variables" as v;

html {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

html, body, main {
  font-family: v.$inter;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

main, body {
  background-color: v.$black;
}

main *::selection {
  background-color: v.$primary;
  color: v.$black;
}

main * p, main * h1, main * h2, main * h3, main * h4, main * h5, main * h6 {
  color: v.$white;
}